body {
  font-family: "Ubuntu";
}

.container {
  width: 1440px;
  display: flex;
  justify-content: space-between;
}

header {
  background-color: #2e948a;
  display: flex;
  justify-content: center;
}

header h2 a {
  display: block;
  color: transparent;
  background: url() 0 0 no-repeat;
  width: 244px;
  height: 77px;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}
